<%= form_for @post, url: posts_path, html: { multipart: true } do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="field">
    
    <td><%= form.label "Название" %></td>
    <td><%= form.text_field :name %></td>
    <td><%= form.file_field :file %></td>
    <td><%= form.submit "Создать" %></td>

  </table>
<% end %>
